<!DOCKTYPE html>
<hyml>
	<head>
		<title>Rate your music</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='MainStyle.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body bgcolor="#32353a">
		<div class="container">
		        <hr color="#282b30" class="hr1">
    			<h1 id="MainLabel">Rate your music</h1>
				<hr color="#282b30" class="hr1">
    			<a href="sign-up" id="hreftoreg"><button type="submit" class="btn">Sign up</button></a>
				<a href="log-in" id="hreftolog"><button type="submit" class="btn">Sign in</button></a>

  		</div>

  		
	</body>
</html>